# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Environment files
.env
.env.*
!.env.example

# Hardhat coverage reports
/coverage

# Gas snapshot files
/.gas-snapshot

# Snapshot cheatcodes output
/snapshots
.env


➜  flash-network node create-wallet.js
{
  publicKey: '040D46595B0BCF032B07017944A927F206721639BFB60F451994E3209A69DF9BD884D3B99CB8686AD09B3BCC2AE9A5A8868E556ED4927F7518DBA610C917F8BD3F',
  address: {
    base58: 'TNkQVRM95WvGoX5xdQyH4MeBsttGWigGYe',
    hex: '418C2DD1767D99CE2B65B35B6E7EC1CE14C9CDE033'
  }
}
